{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="container content-section">
       <div class="row">
           <div class="col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="font-italic">Join Today</legend>
                        {{form|crispy}}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-success" type="submit">SignUp</button>
                    </div>
                </form>
                <div>Already have an account? <a href="{% url 'user-login' %}" class="text-decoration-none text-success">Login</a> Here</div>
            </div>
        </div>
   </div>
{% endblock content %}