{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb" class="mp-0">
        <ul class="breadcrumb mt-0">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Services</li>
            <li class="breadcrumb-item active" aria-current="page">Lessons</li>
        </ul>
    </nav>
    <!--lessons-->
    <div class="container">
        <h3 class="text-center pt-2 text-justify">Lessons Available</h3>
        <ul class="list-unstyled">
            <li class="media m-2">
                <img src="{% static 'blog/image/runningcardio.jpg' %}" class="mt-3 image" style="object-fit: cover;">
                <div class="media-body p-2">
                    <h4>Cardio Exercises</h4>
                    <p>Cardio exercise is one of the most important things you can do for your body, whether you want to lose weight, burn fat, or generally improve your health.You can use machines like a treadmill or an elliptical trainer, or you can create your own workout at home with a variety of cardio exercises like jogging in place, jumping jacks, or burpees. Anything that gets your heart rate into your target heart rate zone will work, but there are some workouts that give you a little more bang for your buck.
                        <span id="dots">...</span></p>
                    <p><span id="more">There's no "right" cardio exercise, and the best choice for you is the one that is the most challenging, but that you can perform safely and enjoy. Exercises that intervals and circuits can help you get the most bang for your time spent.Going to the gym can sometimes feel like a drag, but the health benefits of regular exercise are worth the effort. Cardio exercises are an essential component to help women maintain a healthy lifestyle. But what are cardio workouts? Are some cardio exercises better than others? We’re diving into the best cardio workouts for women, so you know what to do the next time you hit the gym.
                    </span></p>
                    <button onclick="myFunction()" id="myBtn" class="btn btn-sm p-0">Read more</button>
                </div>
            </li>
            <li class="media m-2">
                <img src="{% static 'blog/image/yoga.jpg' %}" class="mt-3 image"style="object-fit: cover;">
                <div class="media-body p-2">
                    <h4>Yoga</h4>
                    <p>Yoga is a mind and body practice with a 5,000-year history in ancient Indian philosophy. Various styles of yoga combine physical postures, breathing techniques, and meditation or relaxation.Yoga is a great way to work on your flexibility and strength. Just about everyone can do it, too -- it's not just for people who can touch their toes or want to meditate.Some types of yoga are about relaxation. In others, you move more. Most types focus on learning poses, called asanas.
                        <span id="dots1">...</span></p>
                    <p><span id="more1"> They also usually include attention to breathing.At any level of yoga, you'll probably start to notice benefits soon. In one study, people improved their flexibility by up to 35% after only 8 weeks of yoga.In the modern world, the South Asian art of yoga has expanded to all corners of the globe. While it is now a popular form of exercise and meditation, this has not always been the case.</span></p>
                    <button onclick="myFunction1()" id="myBtn1" class="btn btn-sm p-0">Read more</button>
                </div>
            </li>
            <li class="media m-2">
                <img src="{% static 'blog/image/aerobic.jpg' %}" class="mt-3 image"style="object-fit: cover;">
                <div class="media-body p-2">
                    <h4>Aerobic</h4>
                    <p>Aerobic exercise is any type of cardiovascular conditioning. It can include activities like brisk walking, swimming, running, or cycling. You probably know it as “cardio.”
                        <span id="dots2">...</span></p>
                    <p><span id="more2">Aerobic exercise is sometimes known as "cardio" -- exercise that requires pumping of oxygenated blood by the heart to deliver oxygen to working muscles.Aerobic exercise stimulates the heart rate and breathing rate to increase in a way that can be sustained for the exercise session. In contrast, anaerobic ("without oxygen") exercise is activity that causes you to be quickly out of breath, like sprinting or lifting a heavy weight.By definition, aerobic exercise means “with oxygen.” Your breathing and heart rate will increase during aerobic activities. Aerobic exercise helps keep your heart, lungs, and circulatory system healthy.</span></p>
                    <button onclick="myFunction2()" id="myBtn2" class="btn btn-sm p-0">Read more</button>
                </div>
            </li>
            <li class="media m-2">
                <img src="{% static 'blog/image/intense.jpg' %}" class="mt-3 image"style="object-fit: cover;">
                <div class="media-body p-2">
                    <h4>Intense</h4>
                    <p>When it comes to your fitness levels—or the amount of work your heart, lungs, and limbs can perform—there’s no doubt that a good, hard sweat is great for you. Vigorous exercise like running, swimming or playing tennis leads to greater improvements than easy or moderate workouts, like brisk walking, ballroom dancing and slow bike-riding.
                        <span id="dots3">...</span></p>
                    <p><span id="more3"> But fitness and health, while closely related, are not always aligned. Research is now finding that you don’t have to put yourself through punishing workouts in order to optimize your health.In a study last year, scientists from the U.S. and Europe found something surprising: the more moderate exercise people do, the more their cardiovascular health improves and their mortality risk drops. When it comes to vigorous exercise, smaller amounts seem to be linked with maximal health benefits.</span></p>
                    <button onclick="myFunction3()" id="myBtn3" class="btn btn-sm p-0">Read more</button>
                </div>
            </li>  
            <li class="media m-2">
                <img src="{% static 'blog/image/meditation.jpg' %}" class="mt-3 image"style="object-fit: cover;">
                <div class="media-body p-2">
                    <h4>Meditation</h4>
                    <p>Meditation is a practice where an individual uses a technique – such as mindfulness, or focusing the mind on a particular object, thought or activity – to train attention and awareness, and achieve a mentally clear and emotionally calm and stable state.Scholars have found meditation difficult to define, as practices vary both between traditions and within them.
                        <span id="dots4">...</span></p>
                    <p><span id="more4">Meditation has been practiced since antiquity in numerous religious traditions, often as part of the path towards enlightenment and self realization. Some of the earliest written records of meditation (Dhyana), come from the Hindu traditions of Vedantism. Since the 19th century, Asian meditative techniques have spread to other cultures where they have also found application in non-spiritual contexts, such as business and health.</span></p>
                    <button onclick="myFunction4()" id="myBtn4" class="btn btn-sm p-0">Read more</button>
                </div>
            </li>          
        </ul>
    </div>
{% endblock content %}